<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>tp 2018</title>
	<style type="text/css">
	<!--
	body{background="/images/fondo3.jpg"  no-repeat center;
		background-size:100% 1000px}
	->
	</style>
</head>
<body background="/images/fondo3.jpg">


	<h1 div class="p-3 mb-2 bg-primary text-white" style="text-align:center">Tp SGE</h1>

	<div class="container">
		
		{{#block "contenido"}}
			{{/block}}
	</div>
</body>
</html>