<!DOCTYPE html>
<html>
<head>
	<title>tp</title>
	<style type="text/css">
	<!--
	body{background="/images/fondo3.jpg"  no-repeat center;
		background-size:100% 1000px}
	->
	</style>
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body background="/images/fondo3.jpg">


	<h1 class="p-3 mb-2 bg-primary text-white" style="text-align:center">Tp SGE</h1>

	<div class="container">
		
		{{#block "contenidos"}}
			{{/block}}
	</div>
</body>
</html>