<!DOCTYPE html>
<html>
<head>
	<title>tp</title>
	<style type="text/css">
	<!--
	body{background="/images/fondo3.jpg"  no-repeat center;
		background-size:100% 1000px}
	->
	</style>
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body background="/images/fondo3.jpg">

<header class="header_area animated bg-primary text-white">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" style="font-size:40px">TP SGE</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                	<li class="nav-item"><a class="nav-link" href="/registroHogar">Registrar Hogar</a></li>
                                	<li class="nav-item"><a class="nav-link" href="#">Lista Hogar</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Dispositivos</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div>
                    <div>
                        <a style="font-size:20px">{{cliente}}</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
	<div class="container">
		
		{{#block "contenido"}}
			{{/block}}
	</div>
</body>
</html>