{{#partial "contenido"}}
	<h2>indicador {{indicador.nombre}} </h2>
	

	<div class="table-responsive">
	<table class="table">
		<tr>
			<th>nombre</th>
			<th>formula</th>
			
		</tr>
		
		<tr>
			<td>{{indicador.nombre}}</td>
			<td>{{indicador.expresion}}</td>
			
			
		</tr>
		
	</table>
	</div>
{{/partial}}
{{>base.hbs}}