{{#partial "contenidos"}}

<h3>Ingreso de Usuario</h3>

{{#if mensaje}}
<h4 id="mensaje" style="background-color: red">{{mensaje}}</h4>
{{/if}}

<form class="form-horizontal" role="form"  action="/usuario"  method="POST">
  <div class="form-group">
    <label for="ejemplo_email_3" class="col-lg-2 control-label">Usuario</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="ejemplo_email_3" name="usuario"
             placeholder="Nombre Usuario">
    </div>
   </div>
    

  <div class="form-group">
    <label for="ejemplo_password_3" class="col-lg-2 control-label">Clave</label>
    <div class="col-lg-10">
      <input type="password" class="form-control" id="ejemplo_password_3"  name="clave"
             placeholder="ingrese clave">
   </div>
  </div>
   
   <div class="form-group">
    <label for="ejemplo_password_3" class="col-lg-2 control-label">Tipo de Usuario</label>
    <div class="col-lg-10">
      <select class="form-control" name="tipo_usuario">
      	<option value="" disabled selected>Seleccione el tipo de usuario</option>
      	<option value="cliente">Cliente</option> 
  		<option value="administrador">Administrador</option>
      </select>
   	</div>
    
  </div>
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" style="width:100px;font-size:15px" class="btn btn-primary">Entrar</button>
      <a style="width:100px;font-size:15px" href="registro" class="btn btn-primary">Registrarse</a>
      <a href="/Mapa" style="width:100px;font-size:15px;float:right" class="btn btn-info">
          <span class="glyphicon glyphicon-map-marker"></span> Ver Map
        </a>
    </div>
  </div>
</form>

{{/partial}}
{{>baseDos.hbs}}