{{#partial "contenido"}}
	<h2> consulta {{metodologia.nombre}}  </h2>
	

	<div class="table-responsive">
	<table class="table">
	
			
		<tr>
		
			<th>listaOrdenada</th>
			
			
			
		</tr>
		
		{{#each  listaOrdenada }}
		<tr>
			<td>{{nombre}}</td>
			<
			
		</tr>
		{{/each}}
	
		
		
			
		
		
	</table>
	</div>
{{/partial}}
{{>base.hbs}}